@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --bg: #212121;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    height: 100vh;
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-head {
    font-weight: 700;
    font-size: 64px;
    color: white;
    line-height: 0;
}

.button-click {
    background-color: white;
    border: none;
    outline: none;
    padding: 196px;
    border-radius: 50%;
    box-shadow: 0 8px 0 rgba(255, 255, 255, .8);
    transition: .05s;
}

.button-click:active {
    transform: translateY(8px);
    box-shadow: none;
}

.button-click:active ~ .p-clicks {
    transform: translateY(8px);
}

.container-clicks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-clicks {
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    color: var(--bg);
    letter-spacing: 0;
    pointer-events: none;
    text-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.p-timer {
    font-weight: 700;
    color: white;
    font-size: 64px;
    letter-spacing: 4px;
}

.pop-screen {
    position: absolute;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    border: none;
    z-index: 101;
}

.pop-container {
    background-color: white;
    position: relative;
    flex-direction: column;
    border-radius: 16px;
    padding: 32px 64px;
}

.button-close {
    top: 4px;
    right: 4px;
    position: absolute;
    background-color: transparent;
    font-size: 32px;
    border: none;
    outline: none;
    cursor: pointer;
}

.p-result {
    font-weight: 700;
    font-size: 48px;
    line-height: 0;
}